<div class="container">
    <!-- Page wrapper  -->
    <div class="page-wrapper col-lg-12">
        <br>
        <!-- Breadcrumb start -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Notification</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item">Notification Message</li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb end -->


        <!-- ============Notification Message Start=============== -->
        <!-- ==================================Button==================================== -->
        <div class="text-center mt-0 ">
            <button type="button" class="btn btn-indigo waves-light" data-toggle="modal" data-target="#basicExample" (click)="notification.show()"
                mdbWavesEffect>Add Notification Message</button>
        </div>
        <!-- ==================================Modal===================================== -->
        <div mdbModal #notification="mdb-modal" class="modal fade " id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <form class="modal-body" #notify (ngSubmit)="OnSubmit(notify)">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Notification Message</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="notification.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- ========Input Form============ -->
                            <div class="md-form">
                                    <div *ngIf="Message.invalid && (Message.dirty || Message.touched)" class="alert-danger">
                                    <div *ngIf="Message.errors?.required">
                                        Message is required!!
                                    </div>
                                </div>
                                <textarea required #Message="ngModel" name="Message" id="notifyMessage" cols="30" rows="10" mdbInputDirective type="text"
                                    class="form-control" [(ngModel)]="message.Message" [ngModelOptions]="{standalone: true}"
                                    placeholder="Type notification message here...">
                                </textarea>
                            </div>
                            <!-- =======Submit Button======== -->
                            <div class="text-center mt-4 ">
                                <button class="btn btn-outline-indigo" type="submit" (click)="notification.hide()" [disabled]="Message.errors?.required">Submit
                                    <i class="fa fa-paper-plane-o ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ============Notification Message End=============== -->

        <!-- ===========================Notification details table start================================== -->
        <div class="table-responsive table-bordered table-hover z-depth-4 card-panel " style="padding: 1% !important;">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped row-border hover table">
                <!--Table head-->
                <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>S.N.</th>
                        <th>Message</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr *ngFor="let notificationMessage of notificationMessages; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{notificationMessage.message}}</td>
                        <td>{{notificationMessage.createdDate | date:"yyyy/MM/dd"}}</td>
                        <td>
                            <i class="fa fa-trash" aria-hidden="true" style="font-size:30px;color:red; margin-right: 4% " (click)="onDelete(notificationMessage.id)"></i>
                        </td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>

        </div>
        <!-- ===========================Notification details table end==================================== -->
    </div>
    <!-- End Page wrapper  -->
</div>