<div class="container">
    <!-- Page wrapper  -->
    <div class="page-wrapper col-lg-12">
        <br>
        <!-- Breadcrumb start -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Employee Details</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item">Employee Details</li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb end -->
        <!-- ===========================Search Start=======================  -->
        <!-- <form class="form-inline md-form form-sm active-pink active-pink-2 col-md-12">
            <div class="input-group md-form form-sm form-2 pl-0 mb-0 col-md-12">
                <input class="form-control my-0 py-1 grey-border" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <span class="input-group-text waves-effect grey lighten-3" id="basic-addon1">
                        <a>
                            <i class="fa fa-search text-grey" aria-hidden="true"></i>
                        </a>
                    </span>
                </div>
            </div>
        </form> -->
        <!-- ===========================Search End=======================  -->

        <!-- ============================Table Start====================== -->
        <div class="table-responsive table-bordered table-hover z-depth-4 card-panel col-lg-12 col-sm-12 col-md-12 " style="padding: 1% !important">
            <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped ">
                <!--Table head-->
                <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>S.N.</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Registered Date</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr *ngFor="let empDetail of empDetails ; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{empDetail.email}}</td>
                        <td>{{empDetail.dob | date:"yyyy/MM/dd"}}</td>
                        <td [ngSwitch]="empDetail.gender">
                            <span *ngSwitchCase="1">Male</span>
                            <span *ngSwitchCase="2">Female</span>
                            <span *ngSwitchCase="3">Others</span>
                        </td>
                        <td>{{empDetail.createdDate | date:"yyyy/MM/dd"}}</td>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>

        </div>
        <!-- ============================Table End======================== -->

    </div>
    <!-- End Page wrapper  -->
</div>