<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <logo>
        <a class="navbar-brand" (click)="showDashboard()">
            <i class="fa fa-dashboard"></i>
        </a>
    </logo>
    <links>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect (click)="showEmpDetails()">Employee Details
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect (click)="showNotification()">Notification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect (click)="showLeaveDetails()">Leave Details</a>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Food Menu
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <!-- <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Food Category</a> -->
                    <a class="dropdown-item waves-light" (click)="showFoodMenu()" mdbWavesEffect>Food</a>
                    <!-- <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Price</a> -->
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" (click)="showOrderDetails()" mdbWavesEffect>Food Order</a>
                </div>
            </li>
        </ul>
        <div class="col-lg-6 col-xs-6 col-md-6 col-sm-12">
            <div class="pull-right">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown btn-group" dropdown>
                        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            Welcome, {{email}}
                            <!-- <strong>{{currentUser.email}}</strong> -->
                            <span class="caret"></span>
                        </a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" (click)="logout()" mdbWavesEffect>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </links>
</mdb-navbar>

<router-outlet></router-outlet>