<div style="height: 100vh;">
  <div class="flex-center">
    <div class="z-depth-4 card-panel lgRes">
      <form class="modal-body" #login (ngSubmit)="OnSubmit(Email.value, Password.value)">
        <p class="h5 text-center mb-4">Sign in</p>

        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="alert-danger validation">
                <div *ngIf="Email.errors?.required">
                    Email is required!!
                </div>
                <div *ngIf="Email.errors?.pattern">
                    Email is not vallid !!
                </div>
            </div>
          <input type="email" id="email" class="form-control" mdbInputDirective #Email="ngModel" name="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          ngModel [ngModelOptions]="{standalone: true}" required placeholder="Your Email">
          <!-- <label for="defaultForm-email">Your email</label> -->
        </div>

        <div class="md-form">
            <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert-danger validation">
                <div *ngIf="Password.errors?.required">
                    Password is required!!
                </div>
                <div *ngIf="Password.errors?.minlength">
                    Password should be at least 7 char long !!
                </div>
            </div>
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="password" class="form-control"
           mdbInputDirective required minlength="7" placeholder="Your Password"
          #Password="ngModel" name="Password" ngModel [ngModelOptions]="{standalone: true}">
          <!-- <label for="defaultForm-pass">Your password</label> -->
        </div>

        <div class="text-center">
          <input type="submit" class="btn btn-indigo waves-light" mdbWavesEffect value="Submit"> 
        </div>

        <div class="modal-footer">
          <div class="options text-center text-md-left mt-1">
            <p class="align">Not a member?
              <a [routerLink]="['/Register']" class="red-text">Sign Up</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Login form -->