<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-bg card-panel">
  <logo>
      <a class="navbar-brand">
          <i class="fa fa-cutlery"></i>
      </a>
  </logo>
  <links>
      <ul class="navbar-nav text-dark">
          <li class="nav-item active text-dark">
              <a class="nav-link waves-light text-dark" mdbWavesEffect (click)="showLunchOrder()">Lunch Order
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-dark text-dark" mdbWavesEffect (click)="showLeaveApplication()">Leave Application</a>
          </li>
      </ul>
      <div class="col-lg-6 col-xs-6 col-md-6 col-sm-12">
          <div class="pull-right">
              <ul class="navbar-nav">
                  <li class="nav-item dropdown btn-group" dropdown>
                      <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light text-dark" mdbWavesEffect>
                          Welcome, {{email}}
                          <!-- <strong>{{currentUser.email}}</strong> -->
                          <span class="caret"></span>
                      </a>
                      <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                          <a class="dropdown-item waves-light text-dark" (click)="logout()" mdbWavesEffect>Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>

  </links>
</mdb-navbar>

<router-outlet></router-outlet>