<div class="container">
    <!-- Page wrapper  -->
    <div class="page-wrapper col-lg-12">
        <br>
        <!-- Breadcrumb start -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Food Details</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item">Food Details</li>
                </ol>
            </div>
        </div>
        <!-- Breadcrumb end -->

        <!-- ===========================Food Menu Button Start============================= -->
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-indigo waves-light cat" data-toggle="modal" data-target="#basicExample" (click)="categories.show()"
                    mdbWavesEffect>Add Food Category</button>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-indigo waves-light name" data-toggle="modal" data-target="#basicExample" (click)="menu.show()"
                    mdbWavesEffect>Add Food</button>
            </div>
        </div>
        <!-- ===========================Food Menu Button End============================= -->
        <!-- =========================== Add Food Category Start============================= -->
        <div mdbModal #categories="mdb-modal" class="modal fade " id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <form class="modal-body" #category (ngSubmit)="OnSubmit(category)">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Add Food Category</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="categories.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- ========Input Form============ -->
                            <!-- <i class="fa fa-envelope prefix"></i> -->
                            <div class="md-form">
                                <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert alert-danger">
                                    <div *ngIf="Name.errors?.required">
                                        Category name is required!!
                                    </div>
                                    <div *ngIf="Name.errors?.pattern">
                                        Category name is not vallid !!
                                    </div>
                                </div>
                                <input mdbInputDirective type="text" id="Name" class="form-control" required #Name="ngModel" name="Name" placeholder="Category Name"
                                    pattern="^[a-zA-Z ]*$" [(ngModel)]="cat.Name" [ngModelOptions]="{standalone: true}">
                            </div>
                            <!-- <label for="cName">Category Name</label> -->
                            <!-- =======Submit Button======== -->
                            <div class="text-center mt-4 ">
                                <button [disabled]="Name.errors?.required" class="btn btn-outline-indigo" type="submit" (click)="categories.hide()">Submit
                                    <i class="fa fa-paper-plane-o ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ===========================Add Food Category End============================= -->

        <!-- =========================== Add Food Name Start============================= -->
        <div mdbModal #menu="mdb-modal" class="modal fade " id="name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <form class="modal-body" #name (ngSubmit)="OnAdding(name)">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title w-100" id="myModalLabel">Add Food Menu</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="menu.hide()">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- ===========select category======== -->
                            <div class="md-form">
                                <div *ngIf="FoodCategoryID.invalid && (FoodCategoryID.dirty || FoodCategoryID.touched)" class="alert-danger">
                                    <div *ngIf="FoodCategoryID.errors?.required">
                                        Food category is required!!
                                    </div>
                                </div>
                                <select mdbInputDirective class="form-control drpdwn" id="FoodCategoryID" #FoodCategoryID="ngModel" [ngModelOptions]="{standalone: true}"
                                    required [(ngModel)]="food.FoodCategoryID">
                                    <option value="" disabled>Select Food Category</option>
                                    <option *ngFor="let categoryDetail of categoryDetails" [value]="categoryDetail.id">{{categoryDetail.name}}</option>
                                </select>
                            </div>
                            <!-- ========Input Form============ -->
                            <div class="md-form">
                                <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="alert-danger">
                                    <div *ngIf="fName.errors?.required">
                                        Food name is required!!
                                    </div>
                                    <div *ngIf="fName.errors?.pattern">
                                        Food name is not vallid !!
                                    </div>
                                </div>
                                <input mdbInputDirective type="text" id="Name" class="form-control" placeholder="Food Name" [(ngModel)]="food.Name" [ngModelOptions]="{standalone: true}"
                                    pattern="^[a-zA-Z ]*$" required #fName="ngModel" name="fName">
                            </div>

                            <div class="md-form">
                                <div *ngIf="Price.invalid && (Price.dirty || Price.touched)" class="alert-danger">
                                    <div *ngIf="Price.errors?.required">
                                        Price is required!!
                                    </div>
                                    <div *ngIf="Price.errors?.pattern">
                                        Price is not vallid !!
                                    </div>
                                </div>
                                <input mdbInputDirective type="text" id="Price" class="form-control" placeholder="Price" [(ngModel)]="food.Price" [ngModelOptions]="{standalone: true}"
                                    pattern="^\d+(\.\d{1,2})?$" required #Price="ngModel" name="Price">
                            </div>
                            <!-- =======Submit Button======== -->
                            <div class="text-center mt-4 ">
                                <button class="btn btn-outline-indigo" type="submit" (click)="menu.hide()">Submit
                                    <i class="fa fa-paper-plane-o ml-2"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- ===========================Add Food Name End============================= -->

        <!-- ===========================Food Menu Start============================= -->
        <div class="table-responsive table-bordered table-hover z-depth-4 card-panel " style="padding: 1% !important;">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped row-border hover table">
                <!--Table head-->
                <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>S.N.</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr *ngFor="let foodDetail of foodDetails; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{foodDetail.foodCategoryName}}</td>
                        <td>{{foodDetail.name}}</td>
                        <td>{{foodDetail.price}}</td>
                        <td>
                            <!-- <i class="fa fa-trash" aria-hidden="true" style="font-size:20px;color:red; margin-right: 4% " (click)="onDelete(foodDetail.id) || rerender()"></i> -->
                            <i class="fa fa-edit" aria-hidden="true" style="font-size:20px;color:indigo; margin-right: 4% " (click)="onEdit(foodDetail)|| menu.show(foodDetail)" data-toggle="modal" data-target="#name"></i>
                        </td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!-- <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls> -->

        </div>
        <!-- ===========================Food Menu End============================= -->

    </div>
    <!-- End Page wrapper  -->
</div>