@media only screen and (max-width: 3000px) {
    .cat{
        width: 50%;
    }

    .name{
        width: 50%;
        float: right;
    }
}
@media only screen and (max-width: 1000px) {
    .cat{
        width: 97%;
    }

    .name{
        width: 98%;
    }
}
@media only screen and (max-width: 600px) {
    .cat{
        width: 97%;
    }

    .name{
        width: 97%;
    }
}