@media only screen and (min-width: 200px) {
    .drpdwn{
        margin-left: 17% !important;
        width: 90%;
    }
} 
@media only screen and (max-width: 300px) {
    .drpdwn{
        margin-left: 13% !important;
        width: 90%;
    }
} 
@media only screen and (min-width: 300px) {
    .drpdwn{
        margin-left: 13% !important;
        width: 90%;
    }
} 
@media only screen and (min-width: 400px) {
    .drpdwn{
        margin-left: 10% !important;
        width: 90%;
    }
} 

@media only screen and (min-width: 500px) {
    .drpdwn{
        margin-left: 9% !important;
        width: 90%;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .drpdwn{
        margin-left: 8% !important;
        width: 90%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .drpdwn{
        margin-left: 6% !important;
        width: 96.2%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .drpdwn{
        margin-left: 4.1% !important;
        width: 96.2%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .drpdwn{
        margin-left: 3.5% !important;
        width: 96.2%;
    }
}