<div class="container">
  <!-- Page wrapper  -->
  <div class="page-wrapper col-lg-12">
    <br>
    <h1>Order Lunch</h1>
    <div class="main">
      <form #order (ngSubmit)="OnSubmit(FoodID.value, Description.value, Quantity.value)">
        <div class="md-form">
          <div *ngIf="FoodID.invalid && (FoodID.dirty || FoodID.touched)" class="alert-danger drpdwn">
            <div *ngIf="FoodID.errors?.required">
              Food name is required!!
            </div>
          </div>
          <i class="fa fa-cutlery prefix black-text"></i>
          <select mdbInputDirective required class="form-control drpdwn" id="FoodID" #FoodID="ngModel" name="FoodID" ngModel [ngModelOptions]="{standalone: true}">
            <option value="" disabled>Select Food</option>
            <option *ngFor="let foodDetail of foodDetails" [value]="foodDetail.id">{{foodDetail.name}}</option>
          </select>
          <!-- <label for="FoodID">Food Name</label> -->
        </div>
        <div class="md-form ">
          <i class="fa fa-list prefix black-text"></i>
          <input mdbInputDirective required type="text" id="Description" class="form-control col-lg-12 col-md-12 col-sm-12" #Description
            name="Description" ngModel [ngModelOptions]="{standalone: true}" placeholder="Any extra item">
          <!-- <label for="Description">Any extra item</label> -->
        </div>
        <div class="md-form">
          <div *ngIf="Quantity.invalid && (Quantity.dirty || Quantity.touched)" class="alert-danger drpdwn">
            <div *ngIf="Quantity.errors?.required">
              Quantity is required!!
            </div>
            <div *ngIf="Quantity.errors?.pattern">
              Quantity is not vallid !!
            </div>
          </div>
          <i class="fa fa-list-ol prefix black-text"></i>
          <input mdbInputDirective required type="text" id="Quantity" class="form-control col-lg-12 col-md-12 col-sm-12" #Quantity="ngModel"
            pattern="^\d+(\.\d{1,2})?$" name="Quantity" ngModel [ngModelOptions]="{standalone: true}" required
            placeholder="Quantity">
          <!-- <label for="Quantity">Quantity</label> -->
        </div>
        <br>
        <div class="text-center mt-0 ">
          <button class="btn btn-outline-indigo" type="submit">Submit
            <i class="fa fa-paper-plane-o ml-2"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>