<div class="container">
  <!-- Page wrapper  -->
  <div class="page-wrapper col-lg-12">
    <br>
    <h1>Leave Application</h1>
    <form class="modal-body" #leaveApplication (ngSubmit)="onSubmit(leaveApplication)">
      <div class="main">
        <div class="md-form">
          <div *ngIf="LeaveDate.invalid && (LeaveDate.dirty || LeaveDate.touched)" class="alert-danger drpdwn">
            <div *ngIf="LeaveDate.errors?.required">
              Leave date is required!!
            </div>
          </div>
          <i class="fa fa-calendar prefix black-text"></i>
          <input mdbInputDirective required type="text" id="LeaveDate" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
            required placeholder="Leave Date" #LeaveDate="ngModel" [(ngModel)]="leave.LeaveDate" [ngModelOptions]="{standalone: true}">
          <!-- <label for="LeaveDate">Leave Date</label> -->
        </div>
        <div class="md-form ">
          <div *ngIf="LeaveDuration.invalid && (LeaveDuration.dirty || LeaveDuration.touched)" class="alert-danger drpdwn">
            <div *ngIf="LeaveDuration.errors?.required">
              Leave duration is required!!
            </div>
          </div>
          <i class="fa fa-hourglass-half prefix black-text"></i>
          <select mdbInputDirective required class="form-control drpdwn" id="LeaveDuration" [ngModelOptions]="{standalone: true}" #LeaveDuration="ngModel"
            required required [(ngModel)]="leave.LeaveDuration">
            <option value="" disabled>Select Leave Duration</option>
            <option value="Full Day Leave">Full Day Leave</option>
            <option value="First Half Leave">First Half Leave</option>
            <option value="Second Half Leave">Second Half Leave</option>
          </select>
          <!-- <label for="LeaveDuration">Leave Duration</label> -->
        </div>
        <div class="md-form">
          <div *ngIf="LeaveType.invalid && (LeaveType.dirty || LeaveType.touched)" class="alert-danger drpdwn">
            <div *ngIf="LeaveType.errors?.required">
              Leave type is required!!
            </div>
          </div>
          <i class="fa fa-bars prefix black-text"></i>
          <select mdbInputDirective required class="form-control drpdwn" id="LeaveType" [ngModelOptions]="{standalone: true}" #LeaveType="ngModel"
            required required [(ngModel)]="leave.LeaveType">
            <option value="" disabled>Select Leave Type</option>
            <option value="Personal Leave">Personal Leave</option>
            <option value="Sick Leave">Sick Leave</option>
            <option value="Unpaid Leave">Unpaid Leave</option>
          </select>
          <!-- <label for="LeaveType">Leave Type</label> -->
        </div>
        <div class="md-form">
          <div *ngIf="LeaveReason.invalid && (LeaveReason.dirty || LeaveReason.touched)" class="alert-danger drpdwn">
            <div *ngIf="LeaveReason.errors?.required">
              Leave reason is required!!
            </div>
          </div>
          <i class="fa fa-question-circle prefix black-text"></i>
          <textarea type="text" id="notifyMessage" class="md-textarea" style="height: 100px" 
          [(ngModel)]="leave.LeaveReason" [ngModelOptions]="{standalone: true}" placeholder="Write your leave reason here ..."
            #LeaveReason="ngModel" required mdbInputDirective></textarea>
          <!-- <label for="contactFormMessage">Your message</label> -->
        </div>
        <div class="text-center mt-0 ">
          <button class="btn btn-outline-indigo" type="submit">Submit
            <i class="fa fa-paper-plane-o ml-2"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>