.butn{
    width: 90% !important;
}

$placeholder-color : red;
$secondary-background-color: blue;
// /
//    server-side-angular-way.component.css
// /
.no-data-available {
    text-align: center;
  }
  
//   /
//      src/styles.css (i.e. your global style)
//   /
  .dataTables_empty {
    display: none;
  }

  .dataTables_wrapper {
      margin-top: 1.5em !important;

      .dataTables_filter{
        input {
            border: 1px solid $placeholder-color;
            padding: 4px 10px;
        }
      }

      .dataTables_paginate {
        .paginate_button {
            border: 1px solid #ccc !important;
            margin: 0.5em;

            &:hover {
                background: $secondary-background-color !important;
                color: white !important;
            }

            &.current {
                background: $secondary-background-color !important;
                color: white !important;

                &:hover {
                    background: $secondary-background-color !important;
                }
            }
        }
      }
  }