<div class="container">
  <!-- Page wrapper  -->
  <div class="page-wrapper col-lg-12">
    <br>
    <!-- Breadcrumb start -->
    <div class="row page-titles ">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Leave Details</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item">Leave Details</li>
        </ol>
      </div>
    </div>
    <!-- Breadcrumb end -->


    <!-- ==================Leave Details start========================= -->
    <div class="table-responsive table-bordered table-hover z-depth-4 card-panel " style="padding: 1% !important;">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
        <!--Table head-->
        <thead class="mdb-color darken-3">
          <tr class="text-white">
            <th>S.N.</th>
            <th>Employee Name</th>
            <th>Leave Date</th>
            <th>Leave Duration</th>
            <th>Leave Type</th>
            <th>Leave Reason</th>
            <th>Status</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr *ngFor="let detail of details;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{detail.empName}}</td>
            <td>{{detail.leaveDate | date:"yyyy/MM/dd"}}</td>
            <td>{{detail.leaveDuration}}</td>
            <td>{{detail.leaveType}}</td>
            <td>{{detail.leaveReason}}</td>
            <td *ngIf="detail.status" [ngSwitch]="detail.status" >
              <!-- <i class="fa fa-trash" aria-hidden="true" style="font-size:30px;color:red; margin-right: 4% " (click)="onDelete(bookDetail.Id)"></i> -->
              <label *ngSwitchCase = "1" class="btn btn-sm btn-green butn"><i class="fa fa-check"></i>Approved</label>
              <label *ngSwitchCase = "2" class="btn btn-sm btn-indigo butn"><i class="fa fa-hourglass-3"></i>Pending</label>
              <label *ngSwitchCase = "3" class="btn btn-sm btn-red butn"><i class="fa fa-remove"></i>Denied</label>
          </td>
          <td *ngIf="!detail.status" >
            <form class="modal-body" (ngSubmit)="OnSubmit()">
              <!-- ===========select category======== -->
              <select *ngIf="(status | json) != '{}'" [ngModelOptions]="{standalone: true}" class="form-control drpdwn" id="Status"
               (change)="changeStatus($event.target.value,detail)">
               <option>select status</option>
               <option *ngFor="let st of StatusList;let i = index;" [value]="i+1">{{st}}</option>
              </select>
            </form>
          </td>
          </tr>
          
        </tbody>
        <!--Table body-->
      </table>
      <!-- <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls> -->

    </div>
    <!-- ==================Leave Details end=========================== -->


  </div>
  <!-- End Page wrapper  -->
</div>