<div class="container">
   <!-- Page wrapper  -->
 <div class="page-wrapper col-lg-12">
    <br>
    <!-- Breadcrumb start -->
     <div class="row page-titles ">
       <div class="col-md-5 align-self-center">
         <h3 class="text-primary">Dashboard</h3>
       </div>
       <div class="col-md-7 align-self-center">
         <ol class="breadcrumb">
           <li class="breadcrumb-item">
             <a href="javascript:void(0)">Home</a>
           </li>
           <li class="breadcrumb-item">Dashboard</li>
         </ol>
       </div>
     </div>
    <!-- Breadcrumb end -->
 
   <!-- ====================first row=================== -->
   <div class="row" >
   

  <div class="col">
    <!--Grid row-->
    <div class="row wow fadeIn" style="margin-top:1em">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
  
          <!--Card-->
          <div class="card">
  
            <!-- Card header -->
            <div class="card-header indigo lighten-1 text-white">Total Employee</div>
  
            <!--Card content-->
            <div class="card-body">
  
              <div class="card-content-custom">
                {{empCounts}}
              </div>
            </div>
  
          </div>
          <!--/.Card-->
  
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!--Card-->
          <div class="card">
  
            <!-- Card header -->
            <div class="card-header cyan lighten-1 text-white">Number of leave</div>
  
            <!--Card content-->
            <div class="card-body">
  
              <div class="card-content-custom">
                {{leaveCounts}}
              </div>
            </div>
  
          </div>
          <!--/.Card-->
  
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
  
          <!--Card-->
          <div class="card">
  
            <!-- Card header -->
            <div class="card-header green lighten-1 text-white">Today's Orders</div>
  
            <!--Card content-->
            <div class="card-body">
  
              <div class="card-content-custom">
               {{orderCounts}}
              </div>
  
            </div>
  
          </div>
          <!--/.Card-->
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->

    <!--Grid row-->
    
   </div>

  </div>
   <!-- End Page wrapper  -->
</div>