/* You can add global styles to this file, and also import other style files */
// regular style toast
@import "~ngx-toastr/toastr.css";


/* You can add global styles to this file, and also import other style files */
$primary-background-color: #fff;
$primary-text-color: #000;
$secondary-background-color: #3F51B5;
$footer-backround-color: #404041;
$page-title-color: #3F51B5;
$placeholder-color: #757575;
$edit-icon-color: #cc6600;
$delete-icon-color: #555;

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

html, body {
  height: 100% !important;
  overflow: hidden;
}

.primary-bg {
  background: $primary-background-color !important;
}

.secondary-bg {
  background: $secondary-background-color !important;
}

.primary-text {
  color: $primary-text-color !important;
}

.primary-btn {
    background: $secondary-background-color !important;
}

span {
  &.inputVal {
        display:none;
    }
  }

a {
    &.link-btn {
        &:hover {
        color: #f2f2f2 !important;
        }
    }
}

input[type=file]{
    margin-left: 1em;
}

.custom-file-upload {
    border: 1px solid grey;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

ul {
    li {
        min-width: 100px !important;
        a {
            color: $primary-background-color !important;
        }
    }
}

// .page-titles {
//   border-bottom: 4px solid $secondary-background-color !important;
//   margin-top: 1em !important;
// }

// .breadcrumb {
//   background: none !important;
//   color: $primary-text-color !important;
//   @include prefix(border-radius, 0, webkit ms moz o);

//   a, li.breadcrumb-item {
//     color: $primary-text-color !important;
//   }
// }

.footer-bg {
  background: $footer-backround-color !important;
}

h3 {
  &.text-primary {
    color: $page-title-color !important;
    font-weight: 500;
  }
}

.article-category-form {
  margin-top: 2em !important;
}

.active {
  color: green;
}

.inactive {
  color: red;
}


.edit {
  color: $edit-icon-color !important;
}

.delete {
  color: $delete-icon-color !important;
}

.article-category-form {
  margin-bottom: 2em;
}

label {
  &.active {
    color: $placeholder-color !important;
  }
}

.article-form {
  .form-group {
    margin-top: 3em;
  }
}

.container {
  min-height: 95% !important;
}

.error-class {
  font-size: 10em;
  margin-top: 1em;
}

.dropdown {
    &.dropdown-menu{
        top: 14px !important;
        @include prefix(border-radius, 0 !important, webkit ms moz o);
    }
}

.dropdown-item {
    &:hover, &:focus {
        background: $secondary-background-color !important;
    }
}

.navbar {
  .dropdown-menu {
    padding: 0 !important;

    a {
      &:hover {
        color: white !important;
      }
    }
  }
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
     src/styles.css (i.e. your global style)
  */
.dataTables_empty {
  display: none;
}

.dataTables_wrapper {
  margin-top: 1.5em !important;

  .dataTables_filter {
    input {
      border: 1px solid $placeholder-color;
      padding: 4px 10px;
    }
  }

  .dataTables_paginate {
    .paginate_button {
      border: 1px solid #ccc !important;
      margin: 0.5em;

      &:hover {
        background: $secondary-background-color !important;
        color: white !important;
      }

      &.current {
        background: $secondary-background-color !important;
        color: white !important;

        &:hover {
          background: $secondary-background-color !important;
        }
      }
    }
  }
}

.navbar {
  &.navbar-dark {
    .navbar-toggler {
      background: $secondary-background-color !important;
    }
  }
}

.col {
  &.z-depth-4 {
    &.card-panel {
      margin: 1em 0 !important;
    }
  }
}

.table {
  thead {
    th {
      vertical-align: middle !important;
      font-weight: bold;
      background-color: $secondary-background-color;
      color: white;
      padding: 0.8em 1em;
    }
  }
}

.count-card {
  .card-up {
    overflow: hidden;
    padding: 2em 0;
    @include prefix(border-radius, 0, webkit ms moz o);
  }
}

.indigo {
  &.lighten-1 {
    background-color: #5c6bc0 !important;
  }
}

.aqua-gradient {
  background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3) !important;
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3) !important;
  background: linear-gradient(40deg,#2096ff,#05ffa3) !important;
}

.card-content-custom {
  display: block;
  font-size: 3em;
}

.custom-file-upload {
  cursor: pointer !important;
  display: inline-block !important;
}

input.ng-invalid.ng-dirty{
  border-bottom-color: #e91e63 !important;
  box-shadow: 0 1px 0 0 #e91e63 !important;
}

@media only screen and (max-width: 992px){
  table.table-responsive {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
  }
}

// #simple-treeview, #product-details {
//   display: inline-block !important;
// }
// #product-details {
//   vertical-align: top !important;
//   width: 400px !important;
//   height: 420px !important;
//   margin-left: 20px !important;
// }
// #product-details > img {
//   border: none !important;
//   height: 300px !important;
//   width: 400px !important;
// }
// #product-details > .name {
//   text-align: center !important;
//   font-size: 20px !important;
// }
// #product-details > .price {
//   text-align: center !important;
//   font-size: 24px !important;
// }
// ::ng-deep .dark #product-details > div {
//   color: #f0f0f0 !important;
// }
// .hidden {
//   visibility: hidden !important;
// }