<div class="container">
  <!-- Page wrapper  -->
  <div class="page-wrapper col-lg-12">
    <br>
    <!-- Breadcrumb start -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Order Details</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item">Order Details</li>
        </ol>
      </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- ==================================Button==================================== -->
    <div class="text-center mt-0 ">
      <button type="button" class="btn btn-indigo waves-light aMsg " data-toggle="modal" data-target="#basicExample" (click)="dailyOrders.show()"
        mdbWavesEffect>Total Orders</button>
    </div>

    <!-- =========Order Details start========== -->
    <div class="table-responsive table-bordered table-hover z-depth-4 card-panel " style="padding: 1% !important;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
        <!--Table head-->
        <thead class="mdb-color darken-3">
          <tr class="text-white">
            <th>S.N.</th>
            <th>Employee Name</th>
            <th>Food Name</th>
            <th>Quantity</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr *ngFor="let todaysOrder of todaysOrders; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{todaysOrder.empName}}</td>
            <td>{{todaysOrder.foodName}}</td>
            <td>{{todaysOrder.quantity}}</td>
            <td>{{todaysOrder.description}}</td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>
      <!-- <pagination-controls (pageChange)="p = $event" style="float: right;"></pagination-controls> -->

    </div>
    <!-- =========Order Details End========== -->

    <!-- ==================================Modal===================================== -->
    <div mdbModal #dailyOrders="mdb-modal" class="modal fade " id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100" id="myModalLabel">Daily Orders</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dailyOrders.hide()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- =========Daily Order Details start========== -->
            <div class="table-responsive table-bordered table-hover z-depth-4 card-panel " style="padding: 1% !important;">
              <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped">
                <!--Table head-->
                <thead class="mdb-color darken-3">
                  <tr class="text-white">
                    <th>S.N.</th>
                    <th>Employee Name</th>
                    <th>Food Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                  <tr *ngFor="let foodOrder of foodOrders; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{foodOrder.empName}}</td>
                    <td>{{foodOrder.foodName}}</td>
                    <td>{{foodOrder.quantity}}</td>
                    <td>{{foodOrder.description}}</td>
                  </tr>

                </tbody>
                <!--Table body-->
              </table>
            </div>
            <!-- ========= Daily Order Details End========== -->
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- End Page wrapper  -->
</div>