@media only screen and (min-width: 200px) {
    .validation{
        margin-left: 18% !important;
        width: 81%;
    }
    .lgRes{
        width: 90% !important;
    }
} 
@media only screen and (min-width: 300px) {
    .validation{
        margin-left: 12% !important;
        width: 85%;
    }
    .lgRes{
        width: 88.33% !important;
    }
} 

@media only screen and (min-width: 400px) {
    .validation{
        margin-left: 12% !important;
        width: 89.1%;
    }
    .lgRes{
        width: 81.33% !important;
    }
} 

@media only screen and (min-width: 500px) {
    .validation{
        margin-left: 11% !important;
        width: 89.1%;
    }
    .lgRes{
        width: 65.33% !important;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .validation{
        margin-left: 12% !important;
        width: 88%;
    }
    .lgRes{
        width: 51.33% !important;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .validation{
        margin-left: 9% !important;
        width: 90%;
    }
    .lgRes{
        width: 50.33% !important;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .validation{
        margin-left: 10% !important;
        width: 90%;
    }
    .lgRes{
        width: 40.33% !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .validation{
        margin-left: 15% !important;
        width: 88%;
    }
    .lgRes{
        width: 22.33% !important;
    }
    
}

@media only screen and (min-width: 1800px) {
    .validation{
        margin-left: 10% !important;
        width: 90%;
    }
    .lgRes{
        width: 22.33% !important;
    }
    
}

@media only screen and (min-width: 2000px) {
    .validation{
        margin-left: 6.5% !important;
        width: 90%;
    }
    .lgRes{
        width: 22.33% !important;
    }
    
}
