<div style="height: 100vh;">
  <div class="flex-center">
    <div class="z-depth-4 card-panel lgRes">
      <form class="modal-body" #register (ngSubmit)="OnSubmit(Email.value, Password.value, ConfirmPassword.value, DOB.value)">
        <p class="h5 text-center mb-4">Sign Up</p>

        <div class="md-form">
            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="alert-danger validation">
                <div *ngIf="Email.errors?.required">
                    Email is required!!
                </div>
                <div *ngIf="Email.errors?.pattern">
                    Email is invalid!!
                </div>
            </div>
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="email" class="form-control" placeholder="Your email" required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          mdbInputDirective #Email="ngModel" name="Email" required ngModel [ngModelOptions]="{standalone: true}">
          <!-- <label for="defaultForm-email">Your email</label> -->
        </div>

        <div class="md-form">
            <div *ngIf="DOB.invalid && (DOB.dirty || DOB.touched)" class="alert-danger validation">
                <div *ngIf="DOB.errors?.required">
                    DOB is required!!
                </div>
            </div>
          <i class="fa fa-calendar prefix grey-text"></i>
          <input mdbInputDirective required type="text" id="DOB" class="form-control" placeholder="Your Date of Birth"
          ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" required
            #DOB="ngModel" name="DOB" ngModel [ngModelOptions]="{standalone: true}">
          <!-- <label for="DOB">Your Date of Birth</label> -->
        </div>

        <div class="md-form">
            <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert-danger validation">
                <div *ngIf="Password.errors?.required">
                    Password is required!!
                </div>
                <div *ngIf="Password.errors?.minlength">
                    Password must be at least 7 char long!!
                </div>
            </div>
          <i class="fa fa-lock prefix grey-text"></i>
          <input required type="password" id="password" class="form-control" required 
          placeholder="Please set your password" minlength="7"
          mdbInputDirective #Password="ngModel" name="Password" ngModel [ngModelOptions]="{standalone: true}">
          <!-- <label for="defaultForm-pass">Your password</label> -->
        </div>

        <div class="md-form">
            <div *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)" class="alert-danger validation">
                <div *ngIf="ConfirmPassword.errors?.required">
                    ConfirmPassword is required!!
                </div>
                <div *ngIf="Password.errors?.minlength">
                    Password must be at least 7 char long!!
                </div>
            </div>
          <i class="fa fa-lock prefix grey-text"></i>
          <input required type="password" id="confirmPassword" minlength="7" class="form-control" required validateEqual="Password"
           mdbInputDirective #ConfirmPassword="ngModel" name="ConfirmPassword" placeholder="Confirm your password"
            ngModel [ngModelOptions]="{standalone: true}">
          <!-- <label for="defaultForm-pass">Confirm Your password</label> -->
        </div>

        <div class="text-center">
          <input type="submit" class="btn btn-indigo waves-light" value="Submit" mdbWavesEffect>
        </div>
        <div class="modal-footer">
          <div class="options text-center text-md-left mt-1">
            <p class="align">Already a member?
              <a [routerLink]="['/Login']" class="red-text">Sign In</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Login form -->